<div class="container mt-4">
    {{#if error}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {{/if}}

    {{#if respond}}
    <div class="alert alert-success" role="alert">
        {{respond}}
    </div>
    {{/if}}
    <form method="POST" action="/auth/reset" id="form-reset" class="form-inline">
        <div class="form-group col-md-10 mt-4 form-row">
            <label for="user_name" class="col-sm-2 col-form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required
                value="{{oldInput.email}}">
            <div class="invalid-feedback form-message"></div>
        </div>

        <div class="form-group col-md-10 mt-4 form-row">
            <button type="submit" class="btn btn-primary">Lấy lại mật khẩu</button>
        </div>

    </form>
</div>

<script src="/validators/inputValidator.js"></script>
<script>
    Validator({
        form: '#form-reset',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#email', 'Nhập email'),
        ]
    })

</script>