<div style="text-align:center" class="mt-4">
    <h1>Quản lý dữ liệu</h1>
    <div style="margin: auto">
        <div class="btn-group mt-4" role="group">
            <button id="" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="width: 150px;">Phim</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="/stored/movies/create">Tạo mới</a>
                <a class="dropdown-item" href="/stored/movies">Chỉnh sửa</a>
            </div>
        </div>
        <br>
        <div class="btn-group mt-4" role="group">
            <button id="" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="width: 150px;">Lịch chiếu</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="/stored/timelines/create">Tạo mới</a>
                <a class="dropdown-item" href="/stored/timelines">Chỉnh sửa</a>
            </div>
        </div>
    </div>
</div>