<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">YT Film</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/stored">Quản lý phim</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    {{#if userInfor}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" aria-haspopup="true"
                        data-toggle="dropdown" aria-expanded="false">
                        {{#if userInfor.avatar}}
                        <img src={{userInfor.avatar}} class="user-avatar">
                        {{else}}
                        <img src="https://icon-library.com/images/anonymous-avatar-icon/anonymous-avatar-icon-25.jpg"
                            alt="" class="user-avatar">
                        {{/if}}
                        {{userInfor.user_name}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/customer/account">Tài khoản của tôi</a></li>
                        <li><a class="dropdown-item" href="/customer/orders">Hoá đơn của tôi</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="/auth/signout">Đăng xuất</a></li>
                    </ul>
                </li>
                {{else}}
                {{#unless isLogging}}
                <img src="https://icon-library.com/images/anonymous-avatar-icon/anonymous-avatar-icon-25.jpg" alt=""
                    class="user-avatar">
                <a type="button" class="btn btn-primary" href="/auth/login">Đăng nhập</a>
                {{/unless}}
                {{/if}}
                </li>

            </ul>
        </div>
    </div>
</nav>