<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">YT Film</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/movie">Phim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movie/booking">Đặt vé</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stored/movies">Quản lý phim</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" aria-haspopup="true"
                        data-toggle="dropdown" aria-expanded="false">
                        <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.6435-9/109772727_1167914386910866_2658107042118001181_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=1fxxGDrdcQ8AX90VpgR&_nc_oc=AQmlphIUc8F4DHhZ-pTI5UmJ1O1TyqJEoZuKUhdEEc9sUODTGd6bnAF98-QaUXyGcNw&_nc_ht=scontent.fvca1-1.fna&oh=106053c15a900995a64cce6195dd2a55&oe=612D08B4"
                            alt="" class="user-avatar">
                        {{user.user_name}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/customer/account">Tài khoản của tôi</a></li>
                        <li><a class="dropdown-item" href="/customer/bill">Vé của tôi</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="/account/sign-out">Đăng xuất</a></li>
                    </ul>
                </li>
                {{else}}
                <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.6435-9/109772727_1167914386910866_2658107042118001181_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=1fxxGDrdcQ8AX90VpgR&_nc_oc=AQmlphIUc8F4DHhZ-pTI5UmJ1O1TyqJEoZuKUhdEEc9sUODTGd6bnAF98-QaUXyGcNw&_nc_ht=scontent.fvca1-1.fna&oh=106053c15a900995a64cce6195dd2a55&oe=612D08B4"
                    alt="" class="user-avatar">
                <a type="button" class="btn btn-primary" href="/account">Đăng nhập</a>
                {{/if}}
                </li>
            </ul>
        </div>
    </div>
</nav>