<div class="container booking">

    <div class="seat-position">
        <div class="board">
            <div class="cell cell-top"><span>A1</span></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-top"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-bottom"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
            <div class="cell cell-couple"></div>
        </div>
    </div>
    <form class="booking-detail mt-4" method="POST" action="/booking/payment">

        <div class="form-field">
            <label class="label">Id</label>
            <input readonly type="text" class="form-control" name="timeline_id" value={{id}}>
        </div>
        <div class="form-field">
            <label class="label">Số vé</label>
            <input readonly type="text" class="form-control" id="seat_count" name="seat_count" value='0'>
        </div>
        <div class="form-field col-5">
            <label class="label">Ghế</label>
            <input readonly type="text" class="form-control" id="seat_name" name="seat_name" value=''>
        </div>
        <div class="form-field col-5">
            <label class="label">Tổng tiền</label>
            <input readonly type="text" class="form-control" id="payment" name="payment" value='0'>
        </div>
        <button type="submit">Thanh toán</button>
    </form>
</div>

<script>
    window.onload = function () {
        document.querySelector('.board').onclick = function (e) {
            const seatCountField = document.getElementById('seat_count')
            const paymentField = document.getElementById('payment')
            const seatNameField = document.getElementById('seat_name')
            const cell = document.getElementsByClassName('cell')
            var seatNameList = seatNameField.value
            for (let i in cell) {
                if (cell[i] === e.target.closest('.cell')) {
                    const seatRow = String.fromCharCode(i / 16 + 65)
                    const seatNumber = i % 16 + 1
                    const seatName = seatRow + seatNumber + ' '
                    console.log(seatName, seatNameList)
                    if (cell[i].classList.contains('active')) {
                        seatCountField.value = Number(seatCountField.value) - 1
                        seatNameList = seatNameList.replace(seatName, '')
                    }
                    else {
                        seatCountField.value = Number(seatCountField.value) + 1
                        seatNameList += seatName

                    }
                    paymentField.value = Number(seatCountField.value) * 45000
                    cell[i].classList.toggle('active')
                    // row  = 10 from A -> J, each row has 16 seat
                    seatNameField.value = seatNameList

                    break
                }
            }
        }
    }


</script>