<div class="container mt-4 customer-infor">
    <div class="left">
        <div class="btn-group-vertical mt-4">
            <a href="/customers/account" class="btn btn-outline-success mt-4">
                Thông tin chung
            </a>
            <a href="/customers/account/edit" class="btn btn-outline-success mt-4">
                Chi tiết tài khoản
            </a>

        </div>
    </div>
    <div class="right">
        <h2>Thông tin chung</h2>
        <div class="customer-infor">
            <div class="input-group input-group-sm mb-3 ">
                <div class="form-field">
                    <label class="label">Họ tên</label>
                    <input class="input" id="name" type="text" />
                </div>
                <div class="form-field">
                    <label class="label">Ngày sinh</label>
                    <input class="input" id="birthday" type="text" />
                </div>
                <div class="form-field">
                    <label class="label">Thành phố / Tỉnh</label>
                    <input class="input" id="location" type="text" />
                </div>
                <div class="form-field">
                    <label class="label">Số điện thoại</label>
                    <input class="input" id="location" type="text" />
                </div>
            </div>
        </div>
        <a href="/customers/account/edit" class="btn btn-success btn-lg active" role="button" type="button">Cập nhật</a>


    </div>
</div>